{
  "partitions": [
	{
      "topic": "library-events",
      "partition": 0,
      "offset": -1
    },
	{
      "topic": "library-events",
      "partition": 1,
      "offset": -1
    },
	{
      "topic": "library-events",
      "partition": 2,
      "offset": -1
    },
    {
      "topic": "library-events-RETRY",
      "partition": 0,
      "offset": -1
    },
	{
      "topic": "library-events-RETRY",
      "partition": 1,
      "offset": -1
    },
	{
      "topic": "library-events-RETRY",
      "partition": 2,
      "offset": -1
    },
	{
      "topic": "library-events-DLT",
      "partition": 0,
      "offset": -1
    },
	{
      "topic": "library-events-DLT",
      "partition": 1,
      "offset": -1
    },
	{
      "topic": "library-events-DLT",
      "partition": 2,
      "offset": -1
    }
  ],
  "version": 1
}